<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gsnathan.dailywarmups">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main Page -->
        <activity android:name=".LayoutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Star Square Page -->
        <activity
            android:name=".StarsquareActivity"
            android:label="Star Square"
            android:parentActivityName=".LayoutActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LayoutActivity" />
        </activity>

        <!-- Reverse String Page -->
        <activity
            android:name=".ReverseStringActivity"
            android:label="Reverse String"
            android:parentActivityName=".LayoutActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LayoutActivity" />
        </activity>

        <!-- Star Triangle Page -->
        <activity
            android:name=".StartriangleActivity"
            android:label="Star Triangle"
            android:parentActivityName=".LayoutActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LayoutActivity" />
        </activity>

        <!-- Pig Latin Page -->
        <activity
            android:name=".PiglatinActivity"
            android:label="Pig Latin Translator"
            android:parentActivityName=".LayoutActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LayoutActivity" />
        </activity>

        <!-- ArrayList Page -->
        <activity
            android:name=".ListActivity"
            android:label="ArrayList"
            android:parentActivityName=".LayoutActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LayoutActivity" />
        </activity>

        <!-- Flip Halves Page -->
        <activity
            android:name=".FlipHalvesActivity"
            android:label="Flip Halves"
            android:parentActivityName=".LayoutActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LayoutActivity" />
        </activity>

        <!-- Source -->
        <activity
            android:name=".SourceActivity"
            android:label="Methods Source Code"
            android:parentActivityName=".LayoutActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LayoutActivity" />
        </activity>

        <!-- Source -->
        <activity
            android:name=".PigSourceActivity"
            android:label="Pig Latin Source Code"
            android:parentActivityName=".LayoutActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LayoutActivity" />
        </activity>

        <!-- About -->
        <activity
            android:name=".AboutActivity"
            android:label="About Daily Warmups (Alpha)"
            android:parentActivityName=".LayoutActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LayoutActivity" />
        </activity>

        <!-- Knight -->
        <activity
            android:name=".KnightActivity"
            android:label="Knight's Tour"
            android:parentActivityName=".LayoutActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LayoutActivity" />
        </activity>

        <!-- KnightSource -->
        <activity
            android:name=".KnightSourceActivity"
            android:label="Knight's Tour Source Code"
            android:parentActivityName=".LayoutActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LayoutActivity" />
        </activity>

        <!-- Forum -->
        <activity
            android:name=".ForumActivity"
            android:label="Feedback"
            android:parentActivityName=".LayoutActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LayoutActivity" />
        </activity>

        <!-- Ascii -->
        <activity
            android:name=".AsciiActivity"
            android:label="Ascii Table"
            android:parentActivityName=".LayoutActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LayoutActivity" />
        </activity>
    </application>

</manifest>